.navbar {
    font-size: 1.5rem;
}

.nav-item:hover {
    text-decoration: underline;
}


.h {
    color: rgb(190,41,236);
}

.i {
    color: rgb(128,0,128);
}

.l {
    color: rgb(195, 119, 224);
}

